.card-img-top {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 250px;
  }
  .card-body {
    background-color: white;
  }

  .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
.cart-btn{
  position:absolute;
  right: 30px;
  top: 10px;
}  